/* General rules */
.flex {
  display: flex;
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.center {
  justify-content: center;
}

/* Content */
.filterable-countries-table {
  ul {
    padding: 0;
  }

  ul, li {
    list-style: none;
  }

  li {
    cursor: pointer;
    padding: 0.4em 1em;
    background: aquamarine;
  }
}

.worldmap {
  width: 70vw;
  flex-grow: 1;

  &-svg {
    height: 100%;
    width: 100%;

    & path {
      transition: all 70ms ease;
    }

    & path[visited="true"] {
      cursor: pointer;
    }

    & path[visited="true"]:hover {
      fill: aqua;
    }
  }
}

.images-list {
  margin-top: 10px;

  &-image-item {
    height: 200px;
    width: 300px;
    background: #f00;
    margin: 10px;
  }
}